@use '../variaveis';

.infos-bar{
    padding: 16px 24px ;
    background-color:variaveis.$colorWhite;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;

    &__infos{
        display: flex;
        gap: 50px;
    }

    &__item{
        font-size: 14px;
        b{
            font-size: 18px;
            display: block;
        }
    }

    @media (max-width:640px){
        display: block;

        &__infos{
            display: block;
        }

        &__item{
            margin-bottom: 24px;
        }
    }
    @media (max-width:1023px){
        &__infos{
            gap: 25px;
        }
    }
}